:root {
    --mt-green: #40C842;
    --mt-new-green: #00ac32;
    --light-grey: #F1F1F1;
    --mt-font-colour: #444;
    --mt-dark-grey: #222;

    --mt-font-heading: "Poppins", sans-serif;
    --mt-font-body: "Montserrat", sans-serif;

    /* Modular scale for spacing */
    --ratio: 1.5;
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--mt-font-body);
    color: var(--mt-font-colour);
    background-color: var(--light-grey);
}

header {
    font-family: var(--mt-font-heading);
    opacity: .9;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: var(--s-1);
    padding-top: var(--s2);
}

h1 {
    font-size: 2em;
}

.wrapper {
    width: 90vw;
    width: clamp(16rem, 90vw, 70rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--s0, 1rem);
    padding-right: var(--s0, 1rem);
    position: relative;
}

.flow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flow > * {
    margin-block: 0;
}

.flow > * + * {
    margin-block-start: var(--s1, 1.5rem);
}

.flow--centred {
    align-items: center;
}

.navigation {
    margin-bottom: var(--s2, 2.5rem);
}

.icebreaker-card {
    background-color: white;
    height: 50vh;
    height: clamp(16rem, 50vh, 32rem);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icebreaker-card p {
    max-width: 24ch;
    font-size: 1.2em;
}

.card-content::after,
.card-content::before {
    background-color: white;
    content: "";
    display: block;
    height: var(--s1);
    position: absolute;
    width: var(--s1);
}

.card-content::after {
    bottom: -1px;
    right: -1px;
}

.card-content::before {
    top: -1px;
    left: -1px;
}

.card-content {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    padding: var(--s2);
    outline: thin solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100% - clamp(1rem, 4rem, 5rem));
    width: calc(100% - clamp(1rem, 4rem, 5rem));
    z-index: 0;
}

.card-mt-logo-top-left {
    position: absolute;
    left: -18px;
    top: -18px;
    z-index: 2;
}

.card-mt-logo-bottom-right {
    position: absolute;
    right: -18px;
    bottom: -18px;
    z-index: 2;
}

/* Taken from the Made Tech website */
.next-card {
    display: inline-block;
    padding: 16px 19px 12px 20px;
    box-shadow: 3px 3px 0 0 var(--mt-new-green);
    border: 0;
    background-color: var(--mt-dark-grey);
    color: #fff;
    font-size: 1.25rem;
    border-radius: 0;
    font-weight: 800;
    line-height: 1.5;
    text-decoration: none;
    text-align: left;
}

.next-card:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff !important;
}

.next-card:focus {
    outline-offset: 5px;
    outline: -webkit-focus-ring-color auto 1px;
}

/* Used to hide content but still make it available to the
   Accessibility tree, i.e., so screen readers will read the content */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Media Queries */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .icebreaker-card p {
        font-size: .9em;
    }
}