{% extends "layout.html" %}
{% block content %}
    <article class="icebreaker-card">
        <div class="card-content">
            <img class="card-mt-logo-top-left" src="static/img/made_tech_mountains.png" alt="" height=38" width="38">
            <p><span class="visually-hidden">Icebreaker card question: </span>{{ card }}</p>
            <img class="card-mt-logo-bottom-right" src="static/img/made_tech_mountains.png" alt="" height=38" width="38">
        </div>
    </article>
{% endblock %}
{% block next %}
    <article>
        <form action="/" method="POST">
            <button class="next-card">Next card</button>
        </form>
    </article>
{% endblock %}